<ion-view view-title="Resources">
         
      <ion-content class="has-header">
        <ion-list>
          <div class="item item-divider">
           <strong>Seafood Taste and Texture Guides</strong>
          </div>
          <ion-item href="#/tab/resources/fishlist">
            Fresh Fish
          </ion-item>
          <ion-item href="#/tab/resources/lobcrablist">
            Lobster and Crab
          </ion-item>
          <ion-item href="#/tab/resources/shellfishlist">
            Shrimp and Shellfish
          </ion-item>
          <div class="item item-divider">
           <strong>Server Skills</strong>
          </div>
          <ion-item href="#/tab/resources/cracklobster">
           How to Crack a Lobster
          </ion-item>
          <ion-item href="#/tab/resources/servewine">
           How to Serve a Bottle of Wine
          </ion-item>
          <div class="item item-divider">
           <strong>Salesmanship</strong>
          </div>
          <ion-item href="#/tab/resources/upselmw" class="item-text-wrap">
           How to Increase Your Sales &#8211; by Mike Windt 
          </ion-item>
        </ion-list>
      </ion-content>
</ion-view>