<ion-view view-title="Resources">
         
      <ion-content class="has-header">
        <ion-list>
          <div class="item item-divider">
           <strong>Seafood Taste and Texture Guides</strong>
          </div>
           <ion-item href="#/tab/resources/fishlist" class="item-icon-right">
            Fresh Fish
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <ion-item href="#/tab/resources/lobcrablist" class="item-icon-right">
            Lobster and Crab
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <ion-item href="#/tab/resources/shellfishlist" class="item-icon-right">
            Shrimp and Shellfish
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <div class="item item-divider">
           <strong>Server Skills</strong>
          </div>
          <ion-item href="#/tab/resources/cracklobster" class="item-icon-right">
           How to Crack a Lobster
           <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <ion-item href="#/tab/resources/servewine" class="item-icon-right">
           How to Serve a Bottle of Wine
           <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <div class="item item-divider">
           <strong>Salesmanship</strong>
          </div>
          <ion-item href="#/tab/resources/upselmw" class="item-text-wrap item-icon-right">
           How to Increase Your Sales &#8211; by Mike Windt 
           <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
      </ion-content>
</ion-view>