<ion-view view-title="Shrimp and Shellfish">
    <ion-nav-buttons side="secondary">
    <button 
      class="button button-icon ion-navicon"
      ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
    </button>
  </ion-nav-buttons>

      <div class="bar bar-subheader item-input item-input-inset bar-light">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input ng-model="query" type="search" placeholder="Search">
        </label>
      </div>
      <ion-content class="has-subheader">
        <ion-list show-reorder="data.showReorder">
          <ion-item ng-repeat="item in shellfish | filter: query" class="item item-avatar item-icon-right" href="#/tab/resources/shellfishdetail/{{item.image}}">
            <img ng-src="img/shellfish/{{item.image}}.jpg" alt="{{item.name}}">
            <h2>{{item.name}}</h2>
            <p>{{item.facts}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button>
         </ion-item>
        </ion-list>

      </ion-content>
    </ion-view>